.NavbarItems {
  background: black;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  list-style-type: none;
}

.navbar-logo a {
  text-decoration: none;
  justify-self: flex-start;
  margin-left: 20px;
  cursor: pointer;
  color: white;
}

.navbar-logo a:hover {
  text-decoration: none;
  color: white;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 5px;
  margin-top: 1.1%;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  border-radius: 5px;
  text-decoration: none;
  color: rgb(58, 118, 197);
  transition: all 0.2s ease-out;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 810px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: fit-content;
    position: fixed;
    top: 8%;
    left: -100%;
    opacity: 1;
  }

  .nav-menu-active {
    position: fixed;
    left: 0;
    top: 5rem;
    flex-direction: column;
    background-color: black;
    padding-right: 4%;
    width: 100%;
    min-height: fit-content;
    z-index: 999;
    text-align: center;
    transition: 0.3s;
    list-style-type: none;

    /*
    background: black;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    list-style-type: none;*/
  }

  .nav-links {
    text-align: center;
    padding: 3rem;
    width: 100%;
    display: table;
  }

  .navbar-logo {
    text-align: center;
  }

  .menu-icon {
    color: white;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 55%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
