.project-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: fit-content;
  height: 85.2vh;
  max-height: max-content;
  background-size: cover;
  background-image: url("../../assets//Home/home.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  border-radius: 30px;
}

.project-details {
  color: black;
  display: grid;
  display: flex;
  grid-template-columns: 1 1 1;
  column-gap: 40px;
  position: relative;
}

.project-details:hover {
  cursor: pointer;
}

.up {
  z-index: 1;
  position: absolute;
  top: -65%;
  left: 47.5%;
  font-size: 4rem;
}

.down {
  z-index: 1;
  position: absolute;
  top: 120%;
  left: 47.5%;
  font-size: 4rem;
}

@media screen and (max-width: 1100px) {
  .project-details {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    min-height: min-content;
    background-size: cover;
    margin-top: 15%;
    margin-bottom: 15%;
    border-image-repeat: repeat;
  }

  .up {
    z-index: 1;
    position: absolute;
    top: -10%;
    left: 41%;
    font-size: 4rem;
  }

  .down {
    z-index: 1;
    position: absolute;
    top: 97%;
    left: 41%;
    font-size: 4rem;
  }
}

/* USE STATE HOOKS FOR NAV BAR */
